@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Poppins:wght@200;300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbar-logo {
    font-size: 25px;
    color: #000000;
    font-family: 'Nanum Brush Script', cursive;
    text-decoration: none;
}

.navbar-logo:hover {
    color: #000000;
}

.nav-link {
    color: #000000;
    font-weight: bold;
}

.nav-link:hover {
    color: #000000;
}

.nav-link::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #FDD689;
    display: block;
    transition: .5s ease-in-out;
}

.nav-link:hover::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #FDD689;
    display: block;
}

.emoji {
    width: 20px;
    margin: 5px;
}

.section-hero {
    padding: 200px 0;
}

.title {
    font-size: 100px;
}

.subtitle {
    font-size: 25px;
}

span {
    background-color: #FDD689;
    padding: 0 20px;
}

.social-link-list img{
    width: 20px;
    
}
.social-link-item {
    padding: 2px;
}
.image {
    border-radius: 50%;
}

.info {
    padding: 50px 0;
}

.info img {
    margin-right: 50px;
}

.description {
    font-size: 20px;
}

span {
    font-weight: bold;
}

.icon {
    width: 20px;
}

.section-hobbies {
    padding: 50px 0;
}

.section-hobbies .title{
    font-size: 50px;
    margin-top: 25px;
}

.section-hobbies .content-wrapper {
    padding: 70px 0;
}

.recent-card {
  padding: 0;
  margin: 20px 60px 20px 0;
  min-width: 450px;
  max-width: 550px;
  border: 3px solid #FDD689;
  border-bottom: 10px solid #FDD689;
  border-right: 10px solid #FDD689;
  border-radius: 20px;
}

.recent-card a {
  color: #000000;
  font-size: 20px;
}

.recent-card p {
  margin: 0;
}

.recent-card img {
  width: 20px;
  height: auto;
  margin-right: 15px;
}
.recent-item {
  min-height: 150px;
}

.contact-card {
  padding: 0;
  margin: 130px 60px 130px 0;
  width: 800px;
  border: 3px solid #FDD689;
  border-bottom: 10px solid #FDD689;
  border-right: 10px solid #FDD689;
  border-radius: 20px;
}

.contact-card h2 {
  font-size: 60px;
}

.contact-card a {
  color: #000000;
  font-size: 20px;
}

.contact-card p {
  margin: 0;
}

.contact-card img {
 width: 150px;
 height: auto;
 justify-content: end;
}

.footer {
    background: #fcf0d9;
    padding: 50px;
}


/* Project */
.section-project {
    padding: 100px 0;
}

.project-item {
    padding: 70px 0;
}

.project-item .title {
    font-size: 50px;
}

.project-item .title-description {
    font-size: 14px;
}

.project-item .description {
    font-size: 16px;
}

.img-github {
    width: 18px;
    height: auto;
    margin-bottom: 3px;
}

.img-project {
    width: 500px;
    height: auto;
}
